  #name {
        color: black;
        text-align: center;
        font-family: Arial;
      }
      .title {
        color: blue;
        text-align: center;
        font-family: "Courier New";
      }

      .paragraph {
        color: black;
        font-family: sans-serif;
        text-align: center;
      }

      .link {
        text-align: center;
      }